@import url(../fonts/roboto/roboto.css);
@import url(../fonts/sfPro/style.css);


@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Regular'), url('../fonts/sfPro/SFPRODISPLAYREGULAR.woff') format('woff');
    }

@font-face {
        font-family: 'SF Pro Display Medium';
        font-style: normal;
        font-weight: normal;
        src: local('SF Pro Display Medium'), url('../fonts/sfPro/SFPRODISPLAYMEDIUM.woff') format('woff');
        }
