.square__box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: grid;
    grid-template: auto/repeat(auto-fill, 30px);
    max-width: 90px;
}
.square {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    clear: both;
    margin: 5px;
}
.square__red {
    background-color: red;
}
.square__green {
    background-color: green;
}
.square__blue {
    background-color: blue;
}

.label-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
}
.list {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 5px !important;
    border: 0.5px solid #c5cee0;
    box-shadow: 0px 7px 64px rgba(25, 32, 56, 0.07);
    &__item {
        display: flex;
        justify-content: space-between;
        background: #edf1f7;
        border-radius: 3px;
        padding: 10px;
        margin: 3px 0;
        &-close {
            height: 20px;
        }
        &-title {
            font-family: "SF Pro Display Regular";
            font-size: 14px;
            line-height: 17px;
            color: #222b45;
        }
    }
    &__container {
        display: flex;
        cursor: pointer;
    }
}
.create-label input {
    padding: 10px 8px;
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #c5cee0;
    box-shadow: 0px 7px 64px rgba(25, 32, 56, 0.07);
    border-radius: 3px;
}
.create-label {
    font-family: "Roboto";
    color: rgba(33, 37, 41, 0.5);
    font-size: 12px;
    line-height: 20px;
    & input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 10px 0;
    }
        
}
.create__label-title {
    font-family: "SF Pro Display Regular";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(33, 37, 41, 0.5);
}
.create-label-title {
    font-family: "SF Pro Display Regular";
    color: rgba(33, 37, 41, 0.5);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
.list__item-btn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
}
.label-layer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 50px 20px 20px;
}
.label__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    &-btn {
        background-color: transparent;
        border: none;
        outline: 1px solid #222b45;
        padding: 5px 19px;
        font-family: "SF Pro Display Regular";
        font-size: 12px;
        cursor: pointer;
        border-radius: 3px;
        height: 30px;
    }
    &-right {
        font-family: "Roboto";
        font-size: 16px;
        line-height: 38px;
        font-weight: 500;
        font-size: 17px;
        color: #5d5fef;
        border-bottom: 1px solid #5d5fef;
        margin: 0;
    }
    &-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid #5d5fef;
        align-items: center;
    }
}
.label__top-right--l {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #5d5fef;
    margin-right: 20px;
}
