%font__weight-500 {
    font-family: "SF Pro Display Regular";
    font-style: normal;
    font-weight: 500;
}
%font__weight-600 {
    font-family: "SF Pro Display Regular";
    font-style: normal;
    font-weight: 600;
}
%input__mail {
    background: #ffffff;
    border: 0.5px solid #c5cee0;
    box-shadow: 0px 7px 64px rgba(25, 32, 56, 0.07);
    border-radius: 3px;
    width: 70vw;
}
.content {
    background-color: #edf1f7;
}
.main__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100vw;
    height: 100vh;
}
.navbar {
    height: 100%;
    &__menu {
        display: flex;
        flex-direction: column;
    }
    &__menu-item {
        margin: 0 0 10px 40px;
    }
    &__menu-container {
        display: flex;
        justify-content: space-between;
    }
    &__arrow {
    }
    background: #ffffff;
    &__menu-container {
        display: flex;
    }
    &__main-subcontent {
    }
    &__main-extra {
        margin-top: 10px;
    }
    &__menu-title {
    }
    &__main {
        // padding: 10px 0 20px 30px;
        &-count {
            margin-right: 20px;
        }
    }
    &__header {
        margin-bottom: 5px;
        padding: 20px 0 20px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #c5cee0;
        &-title {
            font-family: "SF Pro Display Regular";
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: black;
        }

        &-btn {
            background: transparent;
            cursor: pointer;
            margin-right: 10px;
            border: none;
        }
    }
}
.menu__additional {
    &-item {
        margin: 0 0 10px 0;
    }
}
.main-subcontent__btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display Regular";
    font-weight: 600;
    color: #2e3a59;
    &--image {
        position: relative;
    }
}
.arrow_up {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}
.arrow {
    transform: rotate(270deg);
    transition: all 0.5s ease;
    &-container {
        position: absolute;
        transform: translateX(-100%);
    }
}
.arrow-rotate {
    transform: rotate(0deg);
}
// Label style

.label {
    &__form {
        display: flex;
    }
}

// Search Component
.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label {
        display: flex;

        &-btn {
            background: transparent;
            cursor: pointer;
            border: none;
            display: flex;
            padding-top: 5px;
            transition: 0.5s ease all;
        }
        &-btn:hover {
            background: #ffffff;
            transition: 0.5s ease all;
        }
        &-title {
            font-family: "SF Pro Display Regular";
            font-size: 14px;
            line-height: 20px;
            color: rgba(60, 60, 61, 0.8);
            margin-bottom: 0;
        }
        &-checkbox {
        }
    }
    &__tool {
        background-color: white;
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin: 10px 50px 10px 0;
        align-items: center;
        padding: 6px;
        border-radius: 2px;
        &-image {
            transform: translateY(20%);
        }
        &-settings {
        }
        &-find {
            outline: none;
            border: none;
        }
        &-btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
.search .search__label .search__label-checkbox {
    height: 15px;
    width: 15px;
    transform: translateY(54%);
    margin: 0 10px 0 20px;
}

.active-main_wrapper {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    height: 100vh;
}

.navbar__transition-enter {
    position: absolute;
    transform: translateX(-110%);
}
.navbar__transition-enter-active {
    transform: translateX(0%);
    transition: all 0.5s ease;
}
.navbar__transition-exit {
    position: absolute;
    transform: translateX(0%);
    transition: all 0.5s ease;
}
.navbar__transition-exit-active {
    transform: translateX(-110%);
    transition: all 0.5s ease;
}

.menu__additional-enter {
    position: absolute;
    transform: translateY(-110%);
}
.menu__additional-enter-active {
    transform: translateY(0%);
    transition: all 0.1s ease;
}
.menu__additional-exit {
    position: absolute;
    transform: translateY(0%);
    transition: all 0.1s ease;
}
.menu__additional-exit-active {
    transform: translateY(-110%);
    transition: all 0.1s ease;
}

.initial-mail {
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__info {
        display: flex;
        width: 300px;
    }
    &__content-list {
        display: flex;
        flex-direction: column;
    }
    &__content-item {
        display: grid;
        grid-template-columns: 40px 40px 1200px;
        background-color: #ffffff;
    }
    &__content-link {
        display: flex;
        justify-content: space-around;
    }
    &__content-check {
        width: 100%;
    }
    &__content-data {
        @extend %font__weight-500;
        font-size: 16px;
        line-height: 17px;
        color: rgba(34, 43, 69, 0.5);
    }
    &__content-title {
        @extend %font__weight-600;
        font-size: 16px;
        line-height: 17px;
        color: #222b45;
    }
    &__content-from {
        @extend %font__weight-600;
        font-size: 16px;
        line-height: 17px;
        color: #222b45;
    }
    &__content-label::before {
        content: "\f02b";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.9rem;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(90deg);
        color: #2e3a59;
    }
    &__content-label--active {
        color: #18a3ff;
        content: "\f02b";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.9rem;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transform: rotate(90deg);
    }
}
.message {
    &__presentation {
        background-color: #ffffff;
        padding: 15px;
        margin: 12px 44px 12px 12px;
    }
    &__title {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 38px;
        border-bottom: 2px solid #5d5fef;
    }
    &__title:hover {
        color: #5d5fef;
    }
    &__to-title {
        font-family: "SF Pro Display Regular";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: rgba(33, 37, 41, 0.5);
        margin-bottom: 0;
        margin-top: 20px;
    }
    &__form-to input {
        padding: 5px 7px;
        font-family: "SF Pro Display Regular";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        @extend %input__mail;
    }
    &__form-to--modify{
        width: 94vw;
    }
    &__form-to input:focus {
        outline: none;
    }
    &__to-container {
        display: flex;
        justify-content: space-between;
    }
    &__form-theme input {
        padding: 5px 7px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        width: 75vw;
        @extend %input__mail;
    }
    &__form-theme input:focus {
        outline: none;
    }
    &__upload {
        background: url("../assets/image/icon/download.png") no-repeat left 12% center;
        border: 1px solid #212529;
        display: inline-block;
        padding: 8px 30px 8px 40px;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 5px;
        margin: 10px 0;
    }
    &__upload-icon {
        position: absolute;
        top: 0;
    }
    &__upload input[type="file"] {
        display: none;
    }
    &__to-icon {
        height: 100%;
        padding-top: 7px;
    }
    &__send-btn {
        padding: 10px 20px;
        border: none;
        font-family: "SF Pro Display Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        background-color: #222B45;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
    &__send-btn:hover {
        

    }
    &__send-btn--delete{
        background: transparent;
        color: #FF3D71; 
    }
    &__bottom-btn{
        margin-top: 30px;
    }
}
.notify-read {
    display: flex;
    background: #f6e9a5;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    &__text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0;
        margin-left: 10px;
    }
}
